<!DOCTYPE html>
<html lang="en">

<head>
    <title>Khoa Pham Chat</title>
    <script src="bundle.js"></script>
    <style>
        hr {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <p>My video</p>
    <video id="me" height="200" width="200px"></video>
    <p>My friend video</p>
    <video id="me2" height="200" width="200px"></video>
    <ul id="ul-socket-id">

    </ul>
</body>

</html>